@font-face {
  font-family: "iconfont"; /* Project id 2934011 */
  src: url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"),
    url("../fonts/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e684";
}

.icon-qq:before {
  content: "\e882";
}

.icon-twitter:before {
  content: "\e883";
}

.icon-youtube:before {
  content: "\e884";
}

.icon-wechat:before {
  content: "\e885";
}

.icon-github:before {
  content: "\e886";
}

.icon-facebook:before {
  content: "\e88d";
}

.icon-bilibili:before {
  content: "\e75d";
}

.icon-gitee:before {
  content: "\e686";
}

.icon-danger:before {
  content: "\e605";
}

.icon-tip:before {
  content: "\e604";
}

.icon-info:before {
  content: "\e603";
}

.icon-warning:before {
  content: "\e612";
}

.icon-success:before {
  content: "\e60c";
}

.icon-right:before {
  content: "\e71c";
}

.icon-more:before {
  content: "\e656";
}

.icon-tag:before {
  content: "\e738";
}

.icon-menu:before {
  content: "\e602";
}

.icon-right-arrow:before {
  content: "\e601";
}

.icon-left-arrow:before {
  content: "\e600";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-category:before {
  content: "\e747";
}

.icon-close:before {
  content: "\e748";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-calendar:before {
  content: "\e746";
}

.icon-moon:before {
  content: "\e723";
}

.icon-sun:before {
  content: "\e733";
}

.icon-home:before {
  content: "\e60a";
}
