// @font-face {
//   font-family: "iconfont";
//   src: url("iconfont.woff2?t=1637222240092") format("woff2"), url("iconfont.woff?t=1637222240092") format("woff"),
//     url("iconfont.ttf?t=1637222240092") format("truetype");
// }

@font-face {
  font-family: "iconfont"; /* Project id 2934011 */
  src: url("//at.alicdn.com/t/font_2934011_r677lr5ftk.woff2?t=1637222315000") format("woff2"),
    url("//at.alicdn.com/t/font_2934011_r677lr5ftk.woff?t=1637222315000") format("woff"),
    url("//at.alicdn.com/t/font_2934011_r677lr5ftk.ttf?t=1637222315000") format("truetype");
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e656";
}

.icon-tag:before {
  content: "\e738";
}

.icon-menu:before {
  content: "\e602";
}

.icon-right-arrow:before {
  content: "\e601";
}

.icon-left-arrow:before {
  content: "\e600";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-category:before {
  content: "\e747";
}

.icon-close:before {
  content: "\e748";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-calendar:before {
  content: "\e746";
}

.icon-moon:before {
  content: "\e723";
}

.icon-sun:before {
  content: "\e733";
}

.icon-home:before {
  content: "\e60a";
}
