@use "./code-theme.scss" as *;

:root {
  --bodyBg: #f4f4f4;
  --mainBg: #ffffff;
  --sidebarBg: rgba(255, 255, 255, 0.8);
  --shadowColor: rgba(127, 127, 127, 0.1);
  --accentShadowColor: rgba(127, 127, 127, 0.15);
  --textColor: #00323c;
  --textLightenColor: #ff5722;
  --borderColor: #c4c4c4;
  --codeBg: #f6f6f6;
  --codeColor: #525252;
  --accentColor: #ff5722;
  --arrowBgColor: #ccc;
  --footerColor: #888;
  --disabledColor: rgba(70, 70, 70, 0.5);
  --scrollbarColor: rgba(100, 100, 100, 0.5);
  // 选中的文本
  --selectionBg: #ffe89e;
  --selectionColor: #202020;
}

/* plugin-nprogress */
#nprogress {
  --nprogress-color: #ff5722;
  --nprogress-z-index: 1031;
}

/* plugin-medium-zoom */
.medium-zoom-overlay {
  --medium-zoom-z-index: 100;
  --medium-zoom-bg-color: #ffffff;
  --medium-zoom-opacity: 0.9;
}

.theme-mode-light {
  @include codeThemeLight();
}

.theme-mode-dark {
  --bodyBg: #27272b;
  --mainBg: #1e1e22;
  --sidebarBg: rgba(30, 30, 34, 0.8);
  --textColor: #9b9baa;
  --textLightenColor: #f08d49;
  --borderColor: #2c2c2c;
  --codeBg: #252526;
  --codeColor: #fff;
  --disabledColor: rgba(180, 180, 180, 0.5);
  --scrollbarColor: rgba(0, 0, 0, 0.5);
  @include codeThemeDark();
}

.theme-mode-read {
  --bodyBg: #ececcc;
  --mainBg: #f5f5d5;
  --sidebarBg: rgba(245, 245, 213, 0.8);
  --textColor: #704214;
  --textLightenColor: #996633;
  --borderColor: rgba(0, 0, 0, 0.15);
  --codeBg: #282c34;
  --codeColor: #fff;
  @include codeThemeDark();
}
